.rodape {
  background-color: #6278f7;
  display: flex;
  flex-direction: row nowrap;
  justify-content: space-around;
  align-items: center;
  background-image: url(/images/fundo.png);
  background-size: cover;
  background-position: center;
  height: 120px;
}

.rodape img {
  width: 20px;
  height: 20px;
}

.social-media {
  display: flex;
  flex-direction: row nowrap;
  justify-content: space-between;
  gap: 40px;
  margin-left: 15px;
}

.logo {
  text-align: center;
  img {
    width: 125px;
    height: 50px;
  }
}

.text {
  color: white;
}
